<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <title>Login</title>
</head>
<body>
    <div class="form-component">
        <form action="" class="form">
            <div class="form-tittle">
                <h1>INICIO DE SESIÓN</h1>
                <p>Ingrese sus credenciales para continuar</p>
            </div>
            <div class="form-section">
                <label for="email">Email</label>
                <input type="email" class="form-input input-email" id="email">
            </div>
            <div class="form-section">
                <label for="contrasena">Contraseña</label>
                <input type="password" class="form-input" id="contrasena">
            </div>
            <button class="form-button">INGRESAR</button>
        </form>
        <section>
            <p>¿No tienes una cuenta?</p>
            <button class="registrer-button">REGISTRARSE</button>
        </section>
    </div>
</body>
</html>